body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    
}
.head{
    height: 100%;
    width: 100%;
    background-image: url(abs-bg.jpg);
}
.header{
    display: flex;
    position: fixed;
    padding: 2px;
    top: 0;
    background-color: white;
    width: 100%;
    justify-content: center;
    letter-spacing: .5px;
}
.title{
    font-weight: 900;
    font-size: 20px;
    margin-right: 12px;
}
.desc{
    margin-top: 6px;
    color: rgb(158, 156, 156);
}
.head{
    height: 650px;
    display: flex;
    align-items: center;
    width: 100%;
}
.right{
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.left{
    width: 50%;
}
.card{
    width: 300px;
    border: none;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    text-align: center;
}

.line{
    margin: 35px;
    border-top: 1px solid black;
}
.h1 h1{
    color: rgb(34, 15, 201);
    font-weight: 800;
}
.content{
    color:  rgb(34, 15, 201);
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Optional: adds a slight upward movement */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-out {
    animation: fadeIn 1s forwards; /* Adjust duration as needed */
}